<div class="row">
  <div class="small-12 columns">
    <h1>Sign in</h1>
    <%= form_for(:session, url: sessions_path) do |f| %>
      <div class="row"><div class="small-12 columns">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div></div>

      <div class="row"><div class="small-12 columns">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div></div>

      <div class="row"><div class="small-12 columns">
        <%= f.submit "Sign In", class: "button" %>
      </div></div>
    <% end %>
  </div>
</div>
