<div class="row">

  <div class="small-12 medium-6 columns">
    <%= creator_image(@creator, size: :medium) %>
  </div>

  <div class="small-12 medium-6 columns">
    <h2><%= @creator.name %>
      <% if correct_creator? %>
        <small><%= link_to 'Edit', edit_creator_path(@creator) %></small>
      <% end %>
    </h2>

    <%= "<p>#{@creator.description}</p>".html_safe unless @creator.description.blank? %>

    <%= "<p><span class=\"label secondary\">#{@creator.city}</span></p>".html_safe unless @creator.city.blank? %>

    <% unless @creator.tags.blank? %>
      <h6 class="subheader">I'm pretty good at &hellip;</h6>
      <ul class="inline-list">
        <% @creator.tags.each do |tag| %>
          <li><%= link_to tag.name, "/creators/tagged/#{tag.name}" %></li>
        <% end %>
      </ul>
    <% end %>

    <% unless @creator.accounts.blank? %>
      <h6 class="subheader">Find me on &hellip;</h6>
      <ul class="inline-list">
      <% @creator.accounts.each do |k, v| %>
        <% unless v.blank? %>
          <li><a href="<%= v %>" title="<%= @social_account_list[k] %>" target="_blank"><i class="fa fa-<%= k %> fa-lg"></i></a></li>
        <% end %>
      <% end %>
      </ul>
    <% end %>

  </div>

</div>
