<%= form_for @creator, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages' %>

  <div class="row"><div class="small-12 columns">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div></div>

  <div class="row"><div class="small-12 columns">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div></div>

  <% unless signed_in? %>
    <div class="row">
      <div class="small-6 columns">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", value: "" %>
      </div>

      <div class="small-6 columns">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", value: "" %>
      </div>
    </div>
  <% end %>

  <div class="row"><div class="small-12 columns">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div></div>

  <div class="row"><div class="small-12 columns">
    <%= f.label :description %><small>Keep it relatively short... 140 characters or less!</small>
    <%= f.text_area :description %>
  </div></div>

  <div class="row"><div class="small-12 columns">
    <%= f.label :tag_list, "I'm pretty good at..." %><small>Separate tags with commas.</small>
    <%= f.text_field :tag_list %>
  </div></div>

  <div class="row"><div class="small-12 columns">
    <%= f.label :avatar, "Photo" %><small>Icon will be generated if no photo uploaded<br>
    Photo will be cropped square to the middle of the photo &mdash; editing coming soon!</small>
    <%= f.file_field :avatar %>
  </div></div>

  <div class="row">
    <%= f.fields_for :accounts do |ff| %>
      <% @social_account_list.each do |k,v| %>
        <div class="small-12 medium-6 columns">
          <div class="row collapse">
            <%= ff.label k, v %>
            <div class="small-1 columns">
              <span class="prefix"><i class="fa fa-<%= k %>"></i></span>
            </div>
            <div class="small-11 columns">
              <%= ff.text_field k, value: @creator.accounts[k], placeholder: v %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row"><div class="small-12 columns">
    <%= f.submit signed_in? ? "Update" : "Join", class: "button" %>
  </div></div>
<% end %>
