<%= form_for @creator, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages' %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <% unless signed_in? %>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", value: "" %>
    </p>

    <p>
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", value: "" %>
    </p>
  <% end %>

  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list %>
  </p>

  <p>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </p>

  <div class="row">
    <%= f.fields_for :accounts do |ff| %>
      <% @social_account_list.each do |k,v| %>
        <div class="small-12 medium-6 columns">
          <div class="row collapse">
            <%= ff.label k, v %>
            <div class="small-1 columns">
              <span class="prefix"><i class="fa fa-<%= k %>"></i></span>
            </div>
            <div class="small-11 columns">
              <%= ff.text_field k, value: @creator.accounts[k], placeholder: v %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <p>
    <%= f.submit signed_in? ? "Update" : "Join", class: "button" %>
  </p>
<% end %>
