<%= form_for @creator, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages' %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list %>
  </p>

  <p>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </p>

  <%= f.fields_for :accounts do |ff| %>
    <% @social_account_list.each do |k,v| %>
      <div class="row collapse">
        <%= ff.label k, v %>
        <div class="small-1 columns">
          <span class="prefix"><i class="fa fa-<%= k %>"></i></span>
        </div>
        <div class="small-11 columns">
          <%= ff.text_field k, value: @creator.accounts[k], placeholder: v %>
        </div>
      </div>
    <% end %>
  <% end %>

  <p>
    <%= f.submit "Create my account", class: "button" %>
  </p>
<% end %>
