<%= "<h2 class=\"subheading\">Tagged: #{params[:tag]}</h2>".html_safe unless params[:tag].blank? %>
<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5" data-equalizer>
<% @creators.each do |creator| %>
  <li data-equalizer-watch class="creator-block-item">
    <%= link_to creator, remote: true, class: 'creator-block' do %>

      <%= creator_image(creator, size: :large, class: 'creator-image') %>

      <aside class="creator-details">
        <%= "<span class=\"label secondary right\">#{creator.city}</span>".html_safe unless creator.city.blank? %>
        <h4><%= creator.name %></h4>

        <% unless creator.tags.blank? %>
          <h6 class="subheader">I'm pretty good at &hellip;</h6>
          <ul class="inline-list">
            <% creator.tags.limit(3).each do |tag| %>
              <li><%= tag.name %></li>
            <% end %>
            <%= "<li class=\"andmore\">and more&hellip;</li>".html_safe if creator.tags.count > 3 %>
          </ul>
        <% end %>

      </aside>

      <%= creator_image(creator, size: :large, class: 'creator-placeholder-image') %>

    <% end %>
  </li>
<% end %>
</ul>
