<% provide(:title, @creator.name) %>
<h1><%= image_tag @creator.avatar.url(:thumb) %> <%= @creator.name %></h1>
<p>
  <%= image_tag @creator.avatar.url(:medium) %>
</p>
<ul>
  <% @creator.tags.each do |tag| %>
    <li><%= tag %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_creator_path(@creator) %> |
<%= link_to 'Back', creators_path %>
