<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/navigation" %>

    <% flash.each do |key, value| %>
      <div data-alert class="alert-box <%= key %>">
        <%= value %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <div class="medium-10 columns">
      <%= yield %>
    </div>
    </div class="medium-2 columns">
      <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-facebook-square fa-2x"></i>
    </div>

    <div class="overlay-wrap">
      <div class="row overlay">
        <div class="small-12 columns">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
