<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/navigation" %>

    <% flash.each do |key, value| %>
      <div data-alert class="alert-box <%= key %>">
        <%= value %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <div class="medium-10 columns">
      <%= yield %>
    </div>
    <div class="medium-2 columns">
      <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-facebook-square fa-2x"></i>
      <ul>
        <% @alltags.each do |tag| %>
          <%= link_to "<li>#{tag.name}</li>".html_safe, "/creators/tagged/#{tag.name}" if tag.taggings_count > 0 %>
        <% end %>
      </ul>
    </div>

    <div id="overlaywrap">
      <div id="overlay">
      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
