<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "layouts/navigation" %>

    <% flash.each do |key, value| %>
      <div data-alert class="alert-box <%= key %>">
        <%= value %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <div class="medium-10 columns">
      <%= yield %>
    </div>
    <div class="medium-2 columns">

      <ul class="side-nav">
        <% @alltags.limit(5).each do |tag| %>
          <li><%= link_to "#{tag.name} <span class=\"label secondary radius\">#{tag.taggings_count}</span>".html_safe, "/creators/tagged/#{tag.name}" %></li>
        <% end %>
      </ul>

      <% if @alltags.count > 5 %>
        <dl class="accordion tags-accordion" data-accordion>
          <dd>
            <a href="#more_tags"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i> More Tags</a>
            <div id="more_tags" class="content">
              <ul class="side-nav">
              <% @alltags.offset(5).each do |tag| %>
                <li><%= link_to "#{tag.name} <span class=\"label secondary radius\">#{tag.taggings_count}</span>".html_safe, "/creators/tagged/#{tag.name}" %></li>
              <% end %>
              </ul>
            </div>
          </dd>
        </dl>
      <% end %>

    </div>

    <footer class="small-12 columns">
      <hr />
      <p class="right">
        <a href="#" title="Fork me on GitHub"><i class="fa fa-github fa-2x"></i></a> <a href="#" title="Follow us on Twitter"><i class="fa fa-twitter fa-2x"></i></a> <a href="#" title="Like us on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
      </p>
      <p class="left">
        &copy; 2014 WeAreBGR | Developed by <a href="http://www.twitter.com/pixleight" title="@pixleight">Chris Violette</a>
      </p>
    </footer>

    <div id="overlaywrap">
      <div id="overlay">
      </div>
    </div>

    <div class="ribbon">
      <a id="forkme" href="https://www.github.com/pixleight/heybangor" target="_blank"><i class="fa fa-github fa-lg"></i> Fork Me on GitHub</a>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
